@import './constants';

.aboutSection {
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: center;
    align-items: center;
    background: black;
    height: 100vh;
    overflow-x: hidden;
    overflow-y: hidden;
}

.about {
    display: grid;
    grid-auto-flow: row;
    grid-template-columns: 1fr auto;
    grid-template-rows: 0.3fr auto 1fr;
    grid-column-gap: 2rem;
    grid-row-gap: 2rem;
    border: 3rem solid transparent;
}

.iam {
    color: white;
    font-size: 2.4rem;
    font-weight: 600;
    grid-row-start: 1;
}

.skills {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    color: white;

    &>*+* {
        
    }
}

.skill {
    border: 1px solid white;
    padding: 10px;
    font-size: 0.8rem;
    font-weight: 400;
    margin-left: 15px;
        margin-top: 15px;
}

.story {
    height: auto;
    width: auto;
    max-width: 700px;
    grid-column-start: 1;
    grid-column-end: 2;
    font-size: 1.2rem;
    text-align: left;
    color: white;
}

.photo {
    height: auto;
    max-width: 450px;
    grid-row-start: 1;
    grid-row-end: 4;
    grid-column-start: 2;
    align-self: start;
    justify-self: center;
}

@media (max-width:$desktop) {
    .aboutSection {
        height: auto;
    }

    .photo {
        max-width: 360px;
    }
}

@media (max-width:$bigTablet) {
    .about {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr auto auto auto;
    }

    .photo {
        grid-row-start: 5;
        grid-column-start: 1;
        max-width: 550px;
    }
}

@media (max-width:$phone) {

    .photo {
        max-width: 350px;
    }
}

@media (max-width:$small) {
    .photo {
        max-width: 250px;
    }
}