.header {
    height: 100vh;
    overflow-y: auto;
    display: grid;
    font-size: 90px;
    font-weight: 900;
    text-align: center;
    color: white;
    line-height: 80%;
    align-content: center;
    background: url('../headerBack.jpg');
    background-size: cover;
    background-attachment: fixed;
    background-position: bottom center;
}

.creative {
    letter-spacing: 3vmax;
}

.frontend {
    letter-spacing: 1.5vmax;
}

.developer {
    letter-spacing: normal;
}