@import './project.scss';

.portfolio {
    height: 100vh;
    // overflow-y: auto;
    background: linear-gradient(rgba(0, 0, 0, .7), rgba(0, 0, 0, .7)), url('../projects.jpg');
    background-size: cover;
    background-attachment: fixed;

}

.portfolioTitle {
    border-bottom: 2.5rem solid transparent;
}