.slider {
    width: 80%;
}

.dot {
    width: 1rem;
    height: 1rem;
    background-color: white;

    &:hover {
        background-color: gray;
    }
}

.slick-active {
    .dot {
        background-color: gray;
    }
}