@import './constants';

.timeLineSection {
    height: auto;
    min-height: 100vh;
    overflow-y: auto;
    background: linear-gradient(rgba(0, 0, 0, .7), rgba(0, 0, 0, .7)), url('../timeLine.jpg');
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.experience {
    color: white;
    font-size: 2.4rem;
    font-weight: 600;
    border-top: 5rem solid transparent;
    border-bottom: 5rem solid transparent;
}

.jobs {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-gap: 4rem;
    border-bottom: 5rem solid transparent;
}

@media (max-width:$desktop) {
    .timeLineSection {
        height: auto;
    }

    .jobs {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr;
        border-bottom: 4rem solid transparent;

    }
}