@import url('https://fonts.googleapis.com/css?family=Muli:400,600,800,900&subset=latin-ext');
@import './portfolio';
@import './header';
@import './about.scss';
@import './timeLine';
@import './timeStampt';
@import './common';

html,
body {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: 'Muli', sans-serif;
}